<nav>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['sites']"
        [routerLinkActive]="['active']"
        >Sites</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['reservations']"
        [routerLinkActive]="['active']"
        >My Reservations</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['user']"
        [routerLinkActive]="['active']"
        >My Information</a
      >
    </li>
  </ul>
</nav>
